/* ---------- Button ---------- */
.button {
    --component-button-color: var(--color-primary);
    --component-button-color-font: var(--color-primary-on);
    --component-button-color-border: var(--component-button-color);

    background-color: var(--component-button-color);
    color: var(--component-button-color-font);

    height: 32px;
    padding: 8px 24px;
    box-sizing: border-box;

    border: 1px solid var(--component-button-color-border);
    border-radius: var(--border-radius-sm);
    outline: none;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
    transition: background 0.2s ease-out, transform 0.1s ease-out;
}
.button.full {
    width: 100%;
}

/* 유형 */
.button.outlined {
    background-color: transparent;
    color: var(--component-button-color);
}
.button.outlined:hover {
    background-color: var(--component-button-color);
    color: var(--component-button-color-font);
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0px 0px var(--main-color);
}

/* 색상 */
.button.success {
    --component-button-color: var(--color-success);
    --component-button-color-font: var(--color-success-on);
}

.button.error {
    --component-button-color: var(--color-error);
    --component-button-color-font: var(--color-error-on);
}