.top-nav {
    --component-top-nav-padding: 0 48px;

    background: var(--color-surface);
    padding: var(--component-top-nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav__user-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
}