main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex: 1;
}

.admin-sidebar {
    background: #232323;
    color: #ffffff;
    width: 240px;
}

.admin-main-grid {
    flex: 1;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
    row-gap: 40px;
    column-gap: 64px;
}

/* ---------- Learning material Card ---------- */
.learning-material-card:has(input#add-lm-nav:checked) .card-footer {
    display: none;
}