{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">

    {% block head %}
    {% endblock %}
</head>
<body>
    {% include 'common/top_nav.html' %}

    {% block body %}
    {% endblock %}

    <!-- Global JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>